In [1]:
from matplotlib import pyplot as plt
import pandas as pd
from describe import ft_count, ft_mean, ft_std, ft_min, ft_max, ft_25, ft_50, ft_75

In [2]:
df = pd.read_csv('datasets/dataset_train.csv')
df

,Index,Hogwarts House,First Name,Last Name,Birthday,Best Hand,Arithmancy,Astronomy,Herbology,Defense Against the Dark Arts,Divination,Muggle Studies,Ancient Runes,History of Magic,Transfiguration,Potions,Care of Magical Creatures,Charms,Flying
0,0,Ravenclaw,Tamara,Hsu,2000-03-30,Left,58384.0,-487.886086,5.727180,4.878861,4.722,272.035831,532.484226,5.231058,1039.788281,3.790369,0.715939,-232.79405,-26.89
1,1,Slytherin,Erich,Paredes,1999-10-14,Right,67239.0,-552.060507,-5.987446,5.520605,-5.612,-487.340557,367.760303,4.107170,1058.944592,7.248742,0.091674,-252.18425,-113.45
2,2,Ravenclaw,Stephany,Braun,1999-11-03,Left,23702.0,-366.076117,7.725017,3.660761,6.140,664.893521,602.585284,3.555579,1088.088348,8.728531,-0.515327,-227.34265,30.42
3,3,Gryffindor,Vesta,Mcmichael,2000-08-19,Left,32667.0,697.742809,-6.497214,-6.977428,4.026,-537.001128,523.982133,-4.809637,920.391449,0.821911,-0.014040,-256.84675,200.64
4,4,Gryffindor,Gaston,Gibbs,1998-09-27,Left,60158.0,436.775204,-7.820623,NaN,2.236,-444.262537,599.324514,-3.444377,937.434724,4.311066,-0.264070,-256.38730,157.98
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1595,1595,Gryffindor,Jung,Blank,2001-09-14,Right,49009.0,354.280086,-4.541837,-3.542801,5.702,-497.235066,618.220213,-5.231721,964.219853,3.389086,-0.649983,-250.39401,185.83
1596,1596,Slytherin,Shelli,Lock,1998-03-12,Left,63296.0,367.531174,6.061064,-3.675312,1.757,-643.271092,445.827565,2.238112,1056.147366,5.825263,-0.333962,-246.42719,44.80
1597,1597,Gryffindor,Benjamin,Christensen,1999-10-24,Right,63905.0,544.018925,-3.203269,-5.440189,6.065,-385.150457,635.211486,-5.984257,953.866685,1.709808,0.071569,-251.63679,198.47
1598,1598,Hufflepuff,Charlotte,Dillon,2001-09-21,Left,82713.0,453.676219,3.442831,-4.536762,6.738,-831.741123,383.444937,3.813111,1087.949205,3.904100,-0.531875,-246.19072,-76.81
1599,1599,Hufflepuff,Kylie,Nowak,2000-08-21,Left,48639.0,688.911989,5.421046,-6.889120,6.593,-234.207911,339.775154,7.208415,1034.928004,2.052215,0.150532,-244.02063,-54.77

In [3]:
features = df[["Arithmancy", "Astronomy", "Herbology", "Defense Against the Dark Arts", "Divination", "Muggle Studies", "Ancient Runes", "History of Magic", "Transfiguration", "Potions", "Care of Magical Creatures", "Charms", "Flying"]]
labels = ["Feature " + str(i+1) for i in range(len(features.columns))] 
features.columns = labels
features

,Feature 1,Feature 2,Feature 3,Feature 4,Feature 5,Feature 6,Feature 7,Feature 8,Feature 9,Feature 10,Feature 11,Feature 12,Feature 13
0,58384.0,-487.886086,5.727180,4.878861,4.722,272.035831,532.484226,5.231058,1039.788281,3.790369,0.715939,-232.79405,-26.89
1,67239.0,-552.060507,-5.987446,5.520605,-5.612,-487.340557,367.760303,4.107170,1058.944592,7.248742,0.091674,-252.18425,-113.45
2,23702.0,-366.076117,7.725017,3.660761,6.140,664.893521,602.585284,3.555579,1088.088348,8.728531,-0.515327,-227.34265,30.42
3,32667.0,697.742809,-6.497214,-6.977428,4.026,-537.001128,523.982133,-4.809637,920.391449,0.821911,-0.014040,-256.84675,200.64
4,60158.0,436.775204,-7.820623,NaN,2.236,-444.262537,599.324514,-3.444377,937.434724,4.311066,-0.264070,-256.38730,157.98
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1595,49009.0,354.280086,-4.541837,-3.542801,5.702,-497.235066,618.220213,-5.231721,964.219853,3.389086,-0.649983,-250.39401,185.83
1596,63296.0,367.531174,6.061064,-3.675312,1.757,-643.271092,445.827565,2.238112,1056.147366,5.825263,-0.333962,-246.42719,44.80
1597,63905.0,544.018925,-3.203269,-5.440189,6.065,-385.150457,635.211486,-5.984257,953.866685,1.709808,0.071569,-251.63679,198.47
1598,82713.0,453.676219,3.442831,-4.536762,6.738,-831.741123,383.444937,3.813111,1087.949205,3.904100,-0.531875,-246.19072,-76.81
1599,48639.0,688.911989,5.421046,-6.889120,6.593,-234.207911,339.775154,7.208415,1034.928004,2.052215,0.150532,-244.02063,-54.77

In [4]:
features.describe()

,Feature 1,Feature 2,Feature 3,Feature 4,Feature 5,Feature 6,Feature 7,Feature 8,Feature 9,Feature 10,Feature 11,Feature 12,Feature 13
count,1566.000000,1568.000000,1567.000000,1569.000000,1561.000000,1565.000000,1565.000000,1557.000000,1566.000000,1570.000000,1560.000000,1600.000000,1600.000000
mean,49634.570243,39.797131,1.141020,-0.387863,3.153910,-224.589915,495.747970,2.963095,1030.096946,5.950373,-0.053427,-243.374409,21.958012
std,16679.806036,520.298268,5.219682,5.212794,4.155301,486.344840,106.285165,4.425775,44.125116,3.147854,0.971457,8.783640,97.631602
min,-24370.000000,-966.740546,-10.295663,-10.162119,-8.727000,-1086.496835,283.869609,-8.858993,906.627320,-4.697484,-3.313676,-261.048920,-181.470000
25%,38511.500000,-489.551387,-4.308182,-5.259095,3.099000,-577.580096,397.511047,2.218653,1026.209993,3.646785,-0.671606,-250.652600,-41.870000
50%,49013.500000,260.289446,3.469012,-2.589342,4.624000,-419.164294,463.918305,4.378176,1045.506996,5.874837,-0.044811,-244.867765,-2.515000
75%,60811.250000,524.771949,5.419183,4.904680,5.667000,254.994857,597.492230,5.825242,1058.436410,8.248173,0.589919,-232.552305,50.560000
max,104956.000000,1016.211940,11.612895,9.667405,10.032000,1092.388611,745.396220,11.889713,1098.958201,13.536762,3.056546,-225.428140,279.070000

In [5]:
features.shape

(1600, 13)

In [6]:
lst = features.iloc[:,0].tolist()
print(lst)
print(ft_count(lst))
print(ft_mean(lst))
print(ft_std(lst))
print(ft_min(lst))
print(ft_25(lst))
print(ft_50(lst))
print(ft_75(lst))
print(ft_max(lst))

[58384.0, 67239.0, 23702.0, 32667.0, 60158.0, 21209.0, 49167.0, 33010.0, 20278.0, 46316.0, 35619.0, 46550.0, 26647.0, 37984.0, 44791.0, 21630.0, 41907.0, 58796.0, 15578.0, 56909.0, nan, 31882.0, 39873.0, 44987.0, 79537.0, 46505.0, 66246.0, 32991.0, 40401.0, 48832.0, 48984.0, 58112.0, 56259.0, 54477.0, 71169.0, 44450.0, 43212.0, 59927.0, 40775.0, 36947.0, 52334.0, 29293.0, 41965.0, 44741.0, 51536.0, 73385.0, 59112.0, 52190.0, 68570.0, 53157.0, 42836.0, 47880.0, 40993.0, 65458.0, 44262.0, 68337.0, 37503.0, 54555.0, 18882.0, 45361.0, 51703.0, 44262.0, 62083.0, 70512.0, 55840.0, 73353.0, 64219.0, 30461.0, 39225.0, 58659.0, nan, 56313.0, 37901.0, 46240.0, 54847.0, 54986.0, 69442.0, 46350.0, 70868.0, 68359.0, 46079.0, 11030.0, 37887.0, 56134.0, 58549.0, 51592.0, 20807.0, 32491.0, 47052.0, 67687.0, 47749.0, 60337.0, 38317.0, 86521.0, 40041.0, 32995.0, 40377.0, 48416.0, 35796.0, 72219.0, 32401.0, 35880.0, 75206.0, 56467.0, 57493.0, 47435.0, 58994.0, 66124.0, 66029.0, 65151.0, 53672.0, 80698.0, 69117.0, 63085.0, 99356.0, 32757.0, 43903.0, 64893.0, 30360.0, 53747.0, 55822.0, 38267.0, 25521.0, 91006.0, 40304.0, 49342.0, 44716.0, 44770.0, 45982.0, 42551.0, 46919.0, 32154.0, 57769.0, 68382.0, 22034.0, nan, 72259.0, 65257.0, 48503.0, 62442.0, 56763.0, 46540.0, 47266.0, 65283.0, 22398.0, 64395.0, 42359.0, 35843.0, 41153.0, 51005.0, 38144.0, 43174.0, 32262.0, 43554.0, 37115.0, 63995.0, 39731.0, 44378.0, 55003.0, nan, 57084.0, 71129.0, 52049.0, 67129.0, 59354.0, 34543.0, 57873.0, 54696.0, nan, 42547.0, 39228.0, 53431.0, 38984.0, 41173.0, 68697.0, 62042.0, nan, 60975.0, 57532.0, 55371.0, 98109.0, 39874.0, 79428.0, 74845.0, 87138.0, 53960.0, 44095.0, 31210.0, 49529.0, 47670.0, 58492.0, 62429.0, 55527.0, 23669.0, 26557.0, 34642.0, 28482.0, 61099.0, 46520.0, 16697.0, 44757.0, 55048.0, 14522.0, 58984.0, 42559.0, 59800.0, 35988.0, 30403.0, 67074.0, 26268.0, 53134.0, 42850.0, 5929.0, 53566.0, 30053.0, 63924.0, 33563.0, 59061.0, 71739.0, 29517.0, 44780.0, 52199.0, 30430.0, 21194.0, 32842.0, 66624.0, 69954.0, 56805.0, 88229.0, 57086.0, 57393.0, 42933.0, 53132.0, 56803.0, 62135.0, 1775.0, 45162.0, 79921.0, nan, 45783.0, 41002.0, 52433.0, 38860.0, 54267.0, 66565.0, 64990.0, 44730.0, 48086.0, nan, 68111.0, 37887.0, 84659.0, 46370.0, 40949.0, 79331.0, 33251.0, 23241.0, 73677.0, 48115.0, 59773.0, 26732.0, 26596.0, 36722.0, 45877.0, 23348.0, 58516.0, 20184.0, 60018.0, 42591.0, 73356.0, 42293.0, 57633.0, 42577.0, 66774.0, 33010.0, 43744.0, 25168.0, 42847.0, 41006.0, nan, 53099.0, 38880.0, 72295.0, 44094.0, 62759.0, 26116.0, 41034.0, 47886.0, 52268.0, 36467.0, 49688.0, 56730.0, 49093.0, 66692.0, 30788.0, 47145.0, 38917.0, 37702.0, 87451.0, 58658.0, 52510.0, 34066.0, 59442.0, 41732.0, 29560.0, nan, 42307.0, 23403.0, 13733.0, 37273.0, 46336.0, 27282.0, 47623.0, 22301.0, 46502.0, 44314.0, 15276.0, 57603.0, 55277.0, 58813.0, 28181.0, 78806.0, 54213.0, 30151.0, 59307.0, 63354.0, 46393.0, 72439.0, 57434.0, 67134.0, 26460.0, nan, 36507.0, 59027.0, 63662.0, 60541.0, 85107.0, 75766.0, 19066.0, 40544.0, 28071.0, 47990.0, 55969.0, 54856.0, 82130.0, 48621.0, nan, 84986.0, 60061.0, 36793.0, 42630.0, 82681.0, 39603.0, 49462.0, 63699.0, 29622.0, 77425.0, 36880.0, 39665.0, 28504.0, 43236.0, 54483.0, 51140.0, 70213.0, 23779.0, 12935.0, 40097.0, nan, 44400.0, 42562.0, 52865.0, 67963.0, 49018.0, 41618.0, 46440.0, 57088.0, 47517.0, 6407.0, 60525.0, 78160.0, 40414.0, 50252.0, 31818.0, 44387.0, 56746.0, 64893.0, 96741.0, 41316.0, 37743.0, 55431.0, 58738.0, 73346.0, 46773.0, 48745.0, 58598.0, 34968.0, 50332.0, 59836.0, 57156.0, 67603.0, 33608.0, 39461.0, 48793.0, 33198.0, 74119.0, 37715.0, 36194.0, 22683.0, 24323.0, 48680.0, 30061.0, 64844.0, 48330.0, 31090.0, 34156.0, 65622.0, 56810.0, 66820.0, 32280.0, 17333.0, 45201.0, 64406.0, 36712.0, 60468.0, 51161.0, 21274.0, 84689.0, 49412.0, 44926.0, 77550.0, 39620.0, 63563.0, 67734.0, 54014.0, 25124.0, 59373.0, 41132.0, 40330.0, 37007.0, 69794.0, 29261.0, 32043.0, 19443.0, 45150.0, 36220.0, 69411.0, 58564.0, 54654.0, 53782.0, 64291.0, 57712.0, 13760.0, 33334.0, 61581.0, 54603.0, 14156.0, 43320.0, 35723.0, 30886.0, 40074.0, 59516.0, 53021.0, 52309.0, 40228.0, 46522.0, 67745.0, 35333.0, 40847.0, 77951.0, 45424.0, 26818.0, 65467.0, 38905.0, 55488.0, 27637.0, 56599.0, 66513.0, 47974.0, 54085.0, 28135.0, 40911.0, 27677.0, 74248.0, 62952.0, 24982.0, 63400.0, 50473.0, 32033.0, 57616.0, 60935.0, 48179.0, 41825.0, 28677.0, 61754.0, 59701.0, 57109.0, 48087.0, 53608.0, 65796.0, 23462.0, 47606.0, 46529.0, 65739.0, 60667.0, 64055.0, 40361.0, 38175.0, -13902.0, 46096.0, 46750.0, 46515.0, 38516.0, 31388.0, 50587.0, 59834.0, 22317.0, 64456.0, 67622.0, 44217.0, 64783.0, 52490.0, 35477.0, 42390.0, 47573.0, 47292.0, 51453.0, 59486.0, 31765.0, 34277.0, 52406.0, 47628.0, 65706.0, 49034.0, 41393.0, 52478.0, 36893.0, 37823.0, 9576.0, 45700.0, 36066.0, 9093.0, 87601.0, 30018.0, 37397.0, 56692.0, 33266.0, nan, 29330.0, 68226.0, 59600.0, 71081.0, 72471.0, 55001.0, 55942.0, 69743.0, 79144.0, 62636.0, 67115.0, 63271.0, 21978.0, 62888.0, 60238.0, 25325.0, 48111.0, 83476.0, 36878.0, 64073.0, 43947.0, 45537.0, 22353.0, 70192.0, 61194.0, 19472.0, 87429.0, 78114.0, 48551.0, 60549.0, 30821.0, 48804.0, 54017.0, 43027.0, 67704.0, 77752.0, 69750.0, 28057.0, 51267.0, 56462.0, 71954.0, 59344.0, 36149.0, 51871.0, 45136.0, 62319.0, 73173.0, 56619.0, 38823.0, 68601.0, 37987.0, 61355.0, 46379.0, nan, 47484.0, 62494.0, 37028.0, 47466.0, 32520.0, 46653.0, 71311.0, 55282.0, 55999.0, 32545.0, 55893.0, 47617.0, 67535.0, 48957.0, 60649.0, 66977.0, 58358.0, -4491.0, 38341.0, 65402.0, 38650.0, 47927.0, 40693.0, 8871.0, 49928.0, 29262.0, 51351.0, 67436.0, 68124.0, 60918.0, 31926.0, 52012.0, 69088.0, 42350.0, 54349.0, 57378.0, 38694.0, 50427.0, 49776.0, 71166.0, 42421.0, 24911.0, 49925.0, 71906.0, 49428.0, 46328.0, 55393.0, 73111.0, 49594.0, 31416.0, 42842.0, 74932.0, 47009.0, 10162.0, 43624.0, 60930.0, 45611.0, 64436.0, 17747.0, 23236.0, 65642.0, 19873.0, 62891.0, 64120.0, 40972.0, 46490.0, 15925.0, 69160.0, 51016.0, 37931.0, 53787.0, 53395.0, 61337.0, 56496.0, 8293.0, 48872.0, 39887.0, 44348.0, 34812.0, 56510.0, 58642.0, 51745.0, 45826.0, 23903.0, 42907.0, 59657.0, 39994.0, 21541.0, 73176.0, 65671.0, 28514.0, 53897.0, 63060.0, 44716.0, 66836.0, 62124.0, 43116.0, 19230.0, 38734.0, 43551.0, 48581.0, 39281.0, 27161.0, 47924.0, 37022.0, 67125.0, 45096.0, nan, 37542.0, 29842.0, 70141.0, 25078.0, 72445.0, 63213.0, 67601.0, 27472.0, 62686.0, 31884.0, 64641.0, 67762.0, 63271.0, 45029.0, 39664.0, 46152.0, 31603.0, 39477.0, 62589.0, 54596.0, 45055.0, 55550.0, 60978.0, 57294.0, 68802.0, 29614.0, nan, 64225.0, 53234.0, 74747.0, 36050.0, 34595.0, 48238.0, 49231.0, 49965.0, 49913.0, 64061.0, 101374.0, 38216.0, 24891.0, 33907.0, 64294.0, 41272.0, 55032.0, 31374.0, 53235.0, 39991.0, 46646.0, 39367.0, 69006.0, 63263.0, 28583.0, 50108.0, 28851.0, 40526.0, 25688.0, 48173.0, 50613.0, 62422.0, 51604.0, 49888.0, 59125.0, 73187.0, 54690.0, 55695.0, 69736.0, 34849.0, 47658.0, 48618.0, 74346.0, 54671.0, 85206.0, 45457.0, 48243.0, 29000.0, 45164.0, 36915.0, 54088.0, 38553.0, 60024.0, 25867.0, 46755.0, 38995.0, 51864.0, 32823.0, 57856.0, 57174.0, 57163.0, -24370.0, 40424.0, 41673.0, 31479.0, 42076.0, 41317.0, 42957.0, 42599.0, 55000.0, 89262.0, 45747.0, 57610.0, 37118.0, 30699.0, 7899.0, 33803.0, 37313.0, 54773.0, 55256.0, 38924.0, nan, 25772.0, 58803.0, -2464.0, 33845.0, 39617.0, 74035.0, 46521.0, 84971.0, 39459.0, 51956.0, 13451.0, 73077.0, 47557.0, 93900.0, 35599.0, 69837.0, 36526.0, 66711.0, nan, 25985.0, 64471.0, 36187.0, 60284.0, 62960.0, 33487.0, 25998.0, 59072.0, 46674.0, 55709.0, 44724.0, 56473.0, 50991.0, 48646.0, 43311.0, 60300.0, 71132.0, 16649.0, 50942.0, 35405.0, 22619.0, 51404.0, 44976.0, 69057.0, 60716.0, 36751.0, 46440.0, 49948.0, 48897.0, 23872.0, 62196.0, 67149.0, 15933.0, 43042.0, 48146.0, 48394.0, 37018.0, 23688.0, 60583.0, 27663.0, 59061.0, 54385.0, 30074.0, 47805.0, 31850.0, 44875.0, 56679.0, 23655.0, 75321.0, 52164.0, 50686.0, 46303.0, 40320.0, 51390.0, 37362.0, 37399.0, 57189.0, 68037.0, 26703.0, 57277.0, 48560.0, 61461.0, 65744.0, 51439.0, 64160.0, 34964.0, 87485.0, 42227.0, 75462.0, 38711.0, 60650.0, 39936.0, 61452.0, 56563.0, 32041.0, 32689.0, 64762.0, 21837.0, 38704.0, 98030.0, 17853.0, 34208.0, 31537.0, 37553.0, 47897.0, 47193.0, 62725.0, 47776.0, 60828.0, 75093.0, 34309.0, 47161.0, 57978.0, 49359.0, 50601.0, 43708.0, 79962.0, 37119.0, 27666.0, 62879.0, 35205.0, nan, 20951.0, 91614.0, 60483.0, 53725.0, 35993.0, 58633.0, nan, 46133.0, 33295.0, 59712.0, 65271.0, 57511.0, 22679.0, 16913.0, 64471.0, 29371.0, 34412.0, 68517.0, 50198.0, 65890.0, 35896.0, 36126.0, 87121.0, 28604.0, 77286.0, 44965.0, 43913.0, 40439.0, 55061.0, 40517.0, 28654.0, 65886.0, 47951.0, 53250.0, 68702.0, 50255.0, 48538.0, 33831.0, 47732.0, 63037.0, 62335.0, 50653.0, 73031.0, 48926.0, 30966.0, 72095.0, 52033.0, 4047.0, 29786.0, 61478.0, 10329.0, 33081.0, 57471.0, 22862.0, 38936.0, 93332.0, 47180.0, 46834.0, 70008.0, 25573.0, 61931.0, 70424.0, 45540.0, 44554.0, 47161.0, 67025.0, 34335.0, 39878.0, 41876.0, 64677.0, 43357.0, 57903.0, 34072.0, 45365.0, 63302.0, 35439.0, 51386.0, 43664.0, 37415.0, 67107.0, 41549.0, 52561.0, 32753.0, 35060.0, 29122.0, 42744.0, 70115.0, 52024.0, 86459.0, 40162.0, 59241.0, 49524.0, 57854.0, 16119.0, 54331.0, 35760.0, 71005.0, 66041.0, nan, 48268.0, 35459.0, nan, 29775.0, 33604.0, 17450.0, 55487.0, 42075.0, 38965.0, 69832.0, 70638.0, 65733.0, 52563.0, 70132.0, 34855.0, 48908.0, 23279.0, 59532.0, 74720.0, 29265.0, 40465.0, 75882.0, 58910.0, 36653.0, 26493.0, 75611.0, 25494.0, 56268.0, 38434.0, 64197.0, 26800.0, 44565.0, 42957.0, 53435.0, 56746.0, 66357.0, 65023.0, 18478.0, 71651.0, 56786.0, 76947.0, 53322.0, 65226.0, 76473.0, 40968.0, 53300.0, 29087.0, 68734.0, 52245.0, 49404.0, 68486.0, 64926.0, 57750.0, 49744.0, 36102.0, 49757.0, 51460.0, 48764.0, 55963.0, 58186.0, 86622.0, 80286.0, 46652.0, 56450.0, 36017.0, 30256.0, 34376.0, 57758.0, 80424.0, 32999.0, 72835.0, 58085.0, 37018.0, 44794.0, 45402.0, 57933.0, 29524.0, 65186.0, 43301.0, 43082.0, 58761.0, 50125.0, 48056.0, 33196.0, 53014.0, 54469.0, 40702.0, 77257.0, 24970.0, 51691.0, 62574.0, 73277.0, 51395.0, 24015.0, 44987.0, 44372.0, 52675.0, 55939.0, 19559.0, 49944.0, 72625.0, 65361.0, 57978.0, 66190.0, 55745.0, 33672.0, 34283.0, 71429.0, 42606.0, 36631.0, 24546.0, 72599.0, 28203.0, 72748.0, 75501.0, 67239.0, 41830.0, 42810.0, 60761.0, 49586.0, 46352.0, 35454.0, 46968.0, 56756.0, 38242.0, 39515.0, 52441.0, 76154.0, 83968.0, 57091.0, 37263.0, 55449.0, 40050.0, 60487.0, 43340.0, 73149.0, 45043.0, 50798.0, 55696.0, 35676.0, 47295.0, 30403.0, nan, 11261.0, 84208.0, 81275.0, 39521.0, 63594.0, 50884.0, 70815.0, 48455.0, 56833.0, 57334.0, 43128.0, 34878.0, 29476.0, 78219.0, 29531.0, 69027.0, 54237.0, 46662.0, 48452.0, 83033.0, 61371.0, 41094.0, 41960.0, 43588.0, 44738.0, 32022.0, 68599.0, 69288.0, 61014.0, 59744.0, 52380.0, 79737.0, 45334.0, 52112.0, 82422.0, 34428.0, 61943.0, 23865.0, 56899.0, 69182.0, 27353.0, 82947.0, 71542.0, 61034.0, 56733.0, 42253.0, 53941.0, 46536.0, 26817.0, 63226.0, 53207.0, 60698.0, 60213.0, 41407.0, 32303.0, 33918.0, 50733.0, 82499.0, 51060.0, 50395.0, 50778.0, 48699.0, 68148.0, 54725.0, 70696.0, 51896.0, 8168.0, 33560.0, 25473.0, 37290.0, 50022.0, 27490.0, 48017.0, 58854.0, 84990.0, 38744.0, 71585.0, 43118.0, 48662.0, 44486.0, 81344.0, 37330.0, 42853.0, 74149.0, 46705.0, 33917.0, nan, 51472.0, 39169.0, 38510.0, 75760.0, 38562.0, 37740.0, 30704.0, 71080.0, 83033.0, 34030.0, 68004.0, 25188.0, 50587.0, 36746.0, 72408.0, 40196.0, 56297.0, 70010.0, 59761.0, 55050.0, 48581.0, 44517.0, 63993.0, 22234.0, 50338.0, 49402.0, 24776.0, 48966.0, 44461.0, 57106.0, 86223.0, 52042.0, 37829.0, 51384.0, 64855.0, 80251.0, 73027.0, 71379.0, 49006.0, 49372.0, 48294.0, 38984.0, 26901.0, 66804.0, 19531.0, 43883.0, 45798.0, 22478.0, 32438.0, 50425.0, 57874.0, 32756.0, 28231.0, 56105.0, 45652.0, 83705.0, 43371.0, 65375.0, 69621.0, 32682.0, 73048.0, 56742.0, 65146.0, 54668.0, 65606.0, 45501.0, 48008.0, 62967.0, 26481.0, 69453.0, 62709.0, 88959.0, 50301.0, 82081.0, nan, 46746.0, 20878.0, 52262.0, 44176.0, 58367.0, 57921.0, 40611.0, 70883.0, 39375.0, 45086.0, 46628.0, 32265.0, 23382.0, nan, 52727.0, 44888.0, 47250.0, 27198.0, 65673.0, 51626.0, 67258.0, 44701.0, 28456.0, 61915.0, 36343.0, 30828.0, 50145.0, 42645.0, 42570.0, 54607.0, 51264.0, 48818.0, 69088.0, 46825.0, 82744.0, 48202.0, 52561.0, nan, 58448.0, 50407.0, nan, 41431.0, 56428.0, 50264.0, 78362.0, 42143.0, -3149.0, 45797.0, 65205.0, 42726.0, 46572.0, 49681.0, 73991.0, 63666.0, 83831.0, 41635.0, 44354.0, 56217.0, 45656.0, 54069.0, 53337.0, 75470.0, 47712.0, 52057.0, 52534.0, 56484.0, 66257.0, 41751.0, 52547.0, 28083.0, 65007.0, 56614.0, 28965.0, 41364.0, 35189.0, 27979.0, 64144.0, 68166.0, 37146.0, 53951.0, 53107.0, 62755.0, 57447.0, 46230.0, 23358.0, 63764.0, 32931.0, 63898.0, 48160.0, 34513.0, 52046.0, 60317.0, 51035.0, 69396.0, 64810.0, 50043.0, 88282.0, 57950.0, 42671.0, 66454.0, 54022.0, 36809.0, 74776.0, 74889.0, 60450.0, 35134.0, 93408.0, 76651.0, 23951.0, 30827.0, 67201.0, 22720.0, 58520.0, 57887.0, 24650.0, 59954.0, 41053.0, 47193.0, 25642.0, 47337.0, 56495.0, 46759.0, 104956.0, 16894.0, 61999.0, 48634.0, 28327.0, 60042.0, 41759.0, 52441.0, 36934.0, nan, 60329.0, 53297.0, 52313.0, 24923.0, 29751.0, 51381.0, 72112.0, 47506.0, 36844.0, 90161.0, 29152.0, 56806.0, 49552.0, 20132.0, 69310.0, 66641.0, 49507.0, 31487.0, 62205.0, 63604.0, 64586.0, 50876.0, 47902.0, 59115.0, nan, 54385.0, 62872.0, 17277.0, 53269.0, 57036.0, 80705.0, 48568.0, 65092.0, 78269.0, 76931.0, 39866.0, 73457.0, 38491.0, 13784.0, 38114.0, 69869.0, 30257.0, 42347.0, 26022.0, 34120.0, 53440.0, 56974.0, 41194.0, 62717.0, 45610.0, 54081.0, 42165.0, 50617.0, 69765.0, 44761.0, 33681.0, 43767.0, 62475.0, nan, 61070.0, 15251.0, 46562.0, 46466.0, 51712.0, 47603.0, 46474.0, 62957.0, 26893.0, 62346.0, 52079.0, nan, 48743.0, 62970.0, 47872.0, 64978.0, 47370.0, 21109.0, 52583.0, 71095.0, 58920.0, 70479.0, 39080.0, 34567.0, nan, 66291.0, 60148.0, 56174.0, 23965.0, 57332.0, 50144.0, 35883.0, 48767.0, 47693.0, 43932.0, 56567.0, 43848.0, 35532.0, 75380.0, 53984.0, 47023.0, 70297.0, 36061.0, 60297.0, 62103.0, 78380.0, 62423.0, 18788.0, 44980.0, 24191.0, 58266.0, 41420.0, 57566.0, 58123.0, 42589.0, 39610.0, 28744.0, 63538.0, 60006.0, 79653.0, 22927.0, 49009.0, 63296.0, 63905.0, 82713.0, 48639.0]
1600
nan
nan
1
53725.0
72295.0
55032.0
1599

In [7]:
describe = pd.DataFrame()
describe = pd.DataFrame()

for i in range(len(labels)):
    col = features.iloc[:,i].tolist()
    describe[labels[i]] = [ft_count(col), ft_mean(col), ft_std(col), ft_min(col), ft_25(col), ft_50(col), ft_75(col), ft_max(col)]
describe

,Feature 1,Feature 2,Feature 3,Feature 4,Feature 5,Feature 6,Feature 7,Feature 8,Feature 9,Feature 10,Feature 11,Feature 12,Feature 13
0,1600.0,1600.000000,1600.000000,1600.000000,1600.000,1600.000000,1600.000000,1600.000000,1600.000000,1600.000000,1600.000000,1600.000000,1600.000000
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-243.374409,21.958012
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,8.780895,97.601087
3,1.0,-487.886086,1.000000,1.000000,1.000,1.000000,1.000000,1.000000,1.000000,1.000000,0.715939,-232.794050,-26.890000
4,53725.0,NaN,4.942883,-6.218991,5.873,NaN,601.028421,NaN,963.865369,7.231471,-3.313676,-250.647270,-41.840000
5,72295.0,-623.458067,6.375131,-9.403981,1.913,-851.417369,353.186184,-6.531774,933.410720,2.759284,-2.480097,-244.867510,-2.510000
6,55032.0,501.117780,5.340669,-6.478520,-8.041,-713.516135,345.050360,-7.868142,922.488081,-4.697484,0.310679,-232.536750,50.890000
7,1599.0,1599.000000,1599.000000,1599.000000,1599.000,1599.000000,1599.000000,1599.000000,1599.000000,1599.000000,1599.000000,1599.000000,1599.000000